<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eric.dao.ApiApkMapMapper">
  <resultMap id="BaseResultMap" type="com.eric.bean.ApiApkMap">
    <id column="apk_id" jdbcType="INTEGER" property="apkId" />
    <result column="api_id" jdbcType="INTEGER" property="apiId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    apk_id, api_id
  </sql>
  <select id="selectByExample" parameterType="com.eric.bean.ApiApkMapExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_api_apk_map
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_api_apk_map
    where apk_id = #{apkId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_api_apk_map
    where apk_id = #{apkId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.eric.bean.ApiApkMapExample">
    delete from tb_api_apk_map
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.eric.bean.ApiApkMap">
    insert into tb_api_apk_map (apk_id, api_id)
    values (#{apkId,jdbcType=INTEGER}, #{apiId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.eric.bean.ApiApkMap">
    insert into tb_api_apk_map
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="apkId != null">
        apk_id,
      </if>
      <if test="apiId != null">
        api_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="apkId != null">
        #{apkId,jdbcType=INTEGER},
      </if>
      <if test="apiId != null">
        #{apiId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.eric.bean.ApiApkMapExample" resultType="java.lang.Long">
    select count(*) from tb_api_apk_map
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tb_api_apk_map
    <set>
      <if test="record.apkId != null">
        apk_id = #{record.apkId,jdbcType=INTEGER},
      </if>
      <if test="record.apiId != null">
        api_id = #{record.apiId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tb_api_apk_map
    set apk_id = #{record.apkId,jdbcType=INTEGER},
      api_id = #{record.apiId,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.eric.bean.ApiApkMap">
    update tb_api_apk_map
    <set>
      <if test="apiId != null">
        api_id = #{apiId,jdbcType=INTEGER},
      </if>
    </set>
    where apk_id = #{apkId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.eric.bean.ApiApkMap">
    update tb_api_apk_map
    set api_id = #{apiId,jdbcType=INTEGER}
    where apk_id = #{apkId,jdbcType=INTEGER}
  </update>
</mapper>